@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --clr-richBlack: #011627;
    --clr-madder: #CC2936;
    --clr-gray: #6B818C;
    --clr-peach: #F1BF98;
    --clr-lavender: #EEE5E9;

    --clr-raisinBlack: #2E2E3A;
    --clr-buff: #F3DE8A;
    --clr-tangerine: #EB9486;
    --clr-rhythm: #7E7F9A;
    --clr-cultured: #F9F8F8;

    --ff-outfit: 'Outfit', sans-serif;
    --ff-monstserrat: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-monstserrat);
}

html,
body,
main {
    width: 100%;
    height: 100%;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.8fr 0.2fr;
    place-items: center;
}

section {
    position: relative;
}

.content .section-title {
    position: fixed;
    bottom: 50%;

    text-align: center;
    font-size: 5rem;
    font-family: var(--ff-outfit);
    text-transform: uppercase;
    opacity: 0.2;

    transform: rotate(-90deg);
}

.content:nth-child(1) .section-title {
    right: 50%;
}

.content:nth-child(2) .section-title {
    right: 0;
}

.messages article {
    position: relative;
    display: grid;
    width: max-content;
    height: max-content;
    max-width: 80%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;

    gap: 1rem;
}

.messages article::before,
.messages article::after {
    content: '';
    position: absolute;
    border-radius: 5px;
}

.messages article::before {
    bottom: 0;
    width: 5px;
    height: 20%;
}

.messages article::after {
    bottom: 0;
    width: 20%;
    height: 5px;
}

.messages article div {
    position: relative;
    font-size: 1.2rem;
    font-weight: 500;

    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1.5rem;
}

.messages article time {
    text-align: end;
    font-size: 0.8rem;
}

#msg-input {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

#msg-group,
#msg-personal {
    width: 100%;
    height: 100%;
    padding: 2%;

    place-items: start;

    overflow-y: auto;
}

#msg-group {
    background: var(--clr-peach);
}

#msg-group article {
    --clr-pseudo: var(--clr-madder);

    background: var(--clr-lavender);
    color: var(--clr-richBlack);
}

#msg-group article::before,
#msg-group article::after {
    background: var(--clr-pseudo);
}

#msg-group article time {
    color: var(--clr-gray);
}

#msg-personal {
    background: var(--clr-tangerine);
}

#msg-personal article {
    background: var(--clr-raisinBlack);
    color: var(--clr-cultured);
}

#msg-personal article::before,
#msg-personal article::after {
    background: var(--clr-buff);
}

#msg-personal article time {
    color: var(--clr-rhythm);
}

#msg {
    display: block;
    width: 100%;
    height: 100%;

    padding: 1rem;
    font-size: 1rem;

    border: none;
    color: var(--clr-richBlack);
    background: var(--clr-lavender);

    resize: none;
}

#msg:focus-visible {
    outline: none;
}

#msg-input .instructions {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 1rem;

    background: var(--clr-raisinBlack);
    place-items: center;
}

#msg-input .instructions p {
    padding: 0.5rem;
    color: var(--clr-cultured);
}

#msg-input .instructions p code {
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    background: var(--clr-rhythm);
}

#sendToAll,
#sendToMe {
    display: none;
    pointer-events: none;
}